<!doctype html>
<html>
  <body>
    <h2>This is a directory of random files!</h2>
    <% @files.sort.each do |file| %>
      <ul>
        <li> <%= File.basename(file) %> </li>
      </ul>
    <% end %>
  </body>
</html>
